body {
	background-color: #ffffff;
	font-size: 24px;
	color: #000000;
}
//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//</ОБОЛОЧКА>===========================================================================================================
.page {
	flex: 1 1 auto;
}